.home {
	padding: 28px 20px;
	min-height: 100%;
	width: 100%;
	margin-left: 20%;
}
h2 {
	color: #FAFAFA;
}
.album {
	display: flex;
	flex-wrap: wrap;
}
.album-container {
	text-align: center;
	width: 150px;
	margin: 10px;
}
.album-header {
	color: #FAFAFA;
	margin: 10px auto;
}
.album-image {
	width: 150px;
	height: 150px;
}
.album-artist {
	color: #EEEEEE;
	margin: 5px auto;
}
.album-date {
	color: #BDBDBD;
	font-size: 12px;
}
.toast {
	background-color: #FAFAFA;
	padding: 15px;
	color: #312143;
}
